<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-line" extends="q-chart">
  <template>
    <style>
      :host {
        display: block;
      }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-line', {

        render: function () {
          console.log('render', this);
          console.log('data', this.data);

          var w = this.clientWidth / this.data.length;
          var h = this.clientHeight;
          var x = d3.time.scale().range([0, w]);
          var y = d3.scale.linear().range([h, 0]);
          var color = d3.scale.category10();
          var xAxis = d3.svg.axis().scale(x).orient("bottom");
          var yAxis = d3.svg.axis().scale(y).orient("left");

          var line = d3.svg.line()
            .interpolate("basis")
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.temperature); });

          this.chart.append("g");

          
            // color.domain(d3.keys(self.data[0]).filter(function(key) { return key !== "date"; }));

            // var cities = color.domain().map(function(name) {

            //   console.log(name);

            //   /*return {
            //     name: City,
            //     values: data.map(function(d) {
            //       return {year: d.year, value: +d[name]};
            //     })
            //   };*/
            // });

            // x.domain(d3.extent(self.data, function(d) { return d.year; }));

            // y.domain([
            //   d3.min(cities, function(c) { return d3.min(c.values, function(v) { return v.value; }); }),
            //   d3.max(cities, function(c) { return d3.max(c.values, function(v) { return v.value; }); })
            // ]);

            // svg.append("g")
            //     .attr("class", "x axis")
            //     .attr("transform", "translate(0," + h + ")")
            //     .call(xAxis);

            // svg.append("g")
            //     .attr("class", "y axis")
            //     .call(yAxis)
            //   .append("text")
            //     .attr("transform", "rotate(-90)")
            //     .attr("y", 6)
            //     .attr("dy", ".71em")
            //     .style("text-anchor", "end");
            //     //.text("Temperature (ºF)");

            // var city = svg.selectAll(".city")
            //     .data(cities)
            //   .enter().append("g")
            //     .attr("class", "city");

            // city.append("path")
            //     .attr("class", "line")
            //     .attr("d", function(d) { return line(d.values); })
            //     .style("stroke", function(d) { return color(d.name); });

            // city.append("text")
            //     .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
            //     .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; })
            //     .attr("x", 3)
            //     .attr("dy", ".35em")
            //     .text(function(d) { return d.name; });

        }
      });

    })();
  </script>
</polymer-element>