@font-face {
  font-family: "BentonSansF";
  src: url(assets/fonts/BentonSansF-ExtraLight.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(assets/fonts/BentonSansF-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(assets/fonts/BentonSansF-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BentonSansF";
  src: url(assets/fonts/BentonSansF-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(assets/fonts/BentonSansF-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(assets/fonts/BentonSansF-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(assets/fonts/BentonSansComp-Light.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(assets/fonts/BentonSansComp-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(assets/fonts/BentonSansComp-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(assets/fonts/BentonSansComp-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

html,
body {
  color: #222;
  font-family: "BentonSansF", "Helvetica", "Arial", sans-serif;
  font-size: 2.25vmin;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

frog-deck {
  height: 100%;
  width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}