html,
body {
  color: #222;
  font-family: "BentonSansF", "Helvetica", "Arial", sans-serif;
  font-size: 2.25vmin;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

frog-deck {
  height: 100%;
  width: 100%;
}