<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-stacked-bar" extends="q-chart" attributes="url">
  <template>
    <style>
      :host {
        display: block;
      }

      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .x.axis path {
        display: none;
      }
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-stacked-bar', {
        index: 0,
        update: function () {
          return;
          // console.log('update');
          // 
          // this.remapData();
          // 
          var w = this.clientWidth / this.data.length;
          var h = this.clientHeight;
            
          var xScale = d3.scale.linear()
              .domain([0, 1])
              .range([0, w]);
            
          var yScale = d3.scale.linear()
             .domain([0, 100])
             .rangeRound([0, h]);

          this.chart.selectAll("rect")
             .data(this.data)
             .enter().append("rect")
             .attr("x", function(d, i) { return xScale(i) - .5; })
             .attr("y", function(d) { return h - .5; })
             .attr("width", w)
             .transition().delay(function (d,i){ return i * 300;}).duration(300)
             .attr("height", function(d) { return yScale(d.value); })
             .attr("y", function(d) { return h - yScale(d.value) - .5; });

          this.index++;
          this.async(this.update, null, 50000);
        }
      });

    })();
  </script>
</polymer-element>