<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-stacked-bar" extends="q-chart" attributes="url yAxisLabel xAxisLabel recordKey">
  <template>
    <style>
      *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      :host {
        display: block;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .bar {
        fill: steelblue;
      }

      .x.axis path {
        display: none;
      }
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-stacked-bar', {
        yAxisLabel: null,
        xAxisLabel: null,
        recordKey: null,
        margin: {top: 20, right: 20, bottom: 30, left: 60},
        render: function () {
          console.log('render!!');
          this.isRendered = true;
          // 
          var self = this;
          var data = this.data.data;
          var width = this.clientWidth - this.margin.left - this.margin.right;
          var height = this.clientHeight - this.margin.top - this.margin.bottom;

          this.chart.append("g")
              .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");

          var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

          var y = d3.scale.linear()
            .rangeRound([height, 0]);

          var color = this.colors;

          var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

          var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(d3.format(".2s"));

          var key = 'By Year';
          var massagedData = data[this.index][key];
          var lastUpdate = Date.now();

          var recordKeys = massagedData[0]['data'].map(function (d) {
            return d[self.recordKey];
          });
          console.log(recordKeys);
          color.domain(recordKeys);

          massagedData.forEach(function (d) {

            var y0 = 0;
            d.fields = d.data.map(function (name) {
              //console.log(name, y0); 
              return { name: name, y0: y0, y1: y0 += name.value }
            });
            d.total = d.fields[d.fields.length -1].y1;
          });

          //massagedData.sort(function (a, b) { return b.total - a.total });

          x.domain(massagedData.map(function(d) { 
            console.log("line1 06", d); 
            return d.year; 
          }));
          y.domain([0, d3.max(massagedData, function(d) { return d.total; })]);

          this.chart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

          this.chart.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Population");

          var state = this.chart.selectAll(".state")
              .data(massagedData)
            .enter().append("g")
              .attr("class", "g")
              .attr("transform", function(d) { 
                return "translate(" + x(d.year) + ",0)"; 
              });

          state.selectAll("rect")
              .data(function(d) { 
                console.log(" line 127 ", d);
                return d.fields; 
              })
            .enter().append("rect")
              .attr("width", x.rangeBand())
              .attr("y", function(d) { return y(d.y1); })
              .attr("height", function(d) { 
                return y(d.y0) - y(d.y1); 
              })
              .style("fill", function(d) { 
                console.log(d);
                return color(d.name[self.recordKey]); 
              });

          var legend = this.chart.selectAll(".legend")
              .data(color.domain().slice().reverse())
            .enter().append("g")
              .attr("class", "legend")
              .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

          legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

          legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });
        }
      });

    })();
  </script>
</polymer-element>