<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-gb-rotating" extends="q-chart" attributes="url yAxisLabel xAxisLabel recordKey">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        margin-left: -8rem;
        position: relative;
      }

      .axis .domain {
        stroke: none;
      }

      .axis.y text {
        font-family: "Georgia", serif;
        fill: #888;
      }

      .axis.y .label {
        font-size: 1.3rem;
      }

      .axis.y .tick text {
        text-anchor: end;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
      }

      .axis.x text {
        font-family: "BentonSansExtraCondensed", "Helvetica", "Arial", sans-serif;
        font-size: 1.4rem;
        letter-spacing: .05em;
        font-weight: 500;
        fill: #333;
      }

      .axis.y .tick line {
        stroke-dasharray: 2,2;
        stroke: #ccc;
      }

      .axis.x .tick line {
        stroke: none;
      }

      .axis path,
      .axis line {
        fill: none;
        shape-rendering: crispEdges;
      }

      .bar {
        mix-blend-mode: multiply;
      }

      .legend text {
        font-family: "BentonSansF", "Helvetica", "Arial", sans-serif;
        fill: #333;
        font-size: 1.2rem;
      }

      .subtitle {
        font-family: "BentonSansF", "Helvetica", "Arial", sans-serif;
        font-weight: 700;
        mix-blend-mode: multiply;
        fill: #ccc;
        opacity: .3;
        text-transform: uppercase;
      }
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-gb-rotating', {
        yAxisLabel:null,
        xAxisLabel:null,
        recordKey:null,
        start: function () {

        },
        stop: function () {
          clearInterval(this.intervalId);
        },
        render: function () {
          this.chart.selectAll("*")
              .remove();
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
/*
what is this? we have datasets with lots of stuff, 3 levels of data
and that's just too much. we'll take each country and break it into recordKeys
and then years. and flip through countries showing each as a grouped barchart
*/
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
          var self = this;

          var data = self.data.data;

          this.rem = parseInt($("body").css("font-size"));

          self.margin = {top: 3*this.rem, right: 20*this.rem, bottom: 2.5*this.rem, left: 8*this.rem};
          self.width = self.clientWidth - self.margin.left - self.margin.right;
          self.height = self.clientHeight - self.margin.top - self.margin.bottom;

          var x0 = d3.scale.ordinal();

          var x1 = d3.scale.ordinal()
              .rangeRoundBands([0, x0.rangeBand()], .2, 0)

          var y = d3.scale.linear()
              .range([self.height, 0]);

          var xAxis = d3.svg.axis()
              .tickSize(0)
              .scale(x0)
              .tickPadding(self.rem)
              .orient("bottom");

          var yAxis = d3.svg.axis()
              .scale(y)
              .ticks(self.height / self.rem / 4)
              .tickSize(self.width)
              .orient("right")
              .tickFormat(d3.format(".2s"));

          var g = d3.select(this.$.chart)
              .attr("width", self.width + self.margin.left + self.margin.right)
              .attr("height", self.height + self.margin.top + self.margin.bottom)
            .append("g")
              .attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

          var dataIndex = 0;
          var years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"]

          ///////////////////////////////////////////////////////////////////////////////////////////
          // I'm doing this because a lot of the data isn't in a format that d3 wants, and I
          // don't feel like redoing all the JSON files
          ///////////////////////////////////////////////////////////////////////////////////////////
          var massagedData = [];
          var lastUpdate = Date.now();

          // console.log(data[dataIndex]);
          massagedData = data[dataIndex]["By Year"];


          var recordKeys = [];
          for( var i = 0; i < massagedData[0].data.length; i++ )
          {
            recordKeys.push(massagedData[0].data[i][self.recordKey]);
          }

          ///////////////////////////////////////////////////////////////////////////////////////////
          //////////////////////////////////////////////////////////////////////////////////////////

          x0.domain(this.years)
            .rangeRoundBands([0, self.width], .25, 0);

          // .domain(massagedData.map(function(d) {
          //   return d.year;
          // }));

          x1.domain(recordKeys).rangeRoundBands([0, x0.rangeBand()], .2, 0);

          y.domain([0, d3.max( _.flatten(_.flatten(_.flatten(data, "By Year"), "data"), "value") ) * (1 + self.yDomainPadding)]);

          self.colors.domain(recordKeys);

          ////////////////////////////////////////////////////////////////////////////////////////
          // drawing the chart
          ////////////////////////////////////////////////////////////////////////////////////////

          g.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + self.height + ")")
              .call(xAxis);

          var gy = g.append("g")
              .attr("class", "y axis")
              .call(yAxis);

          gy.append("text")
              .classed("label", true)
              .attr("y", 0)
              .attr("x", 0)
              .text(self.yAxisLabel);

          gy.select(".tick").selectAll("*")
              .attr("transform", "translate(0, -" + self.rem/10 + ")");

          gy.selectAll(".tick line")
              .style("stroke-width", self.rem/10);

          gy.selectAll(".tick").selectAll("text")
              .attr("x", -self.rem)
              .style("text-anchor", "end");

          var subtitle = g.append("text")
              .classed("subtitle", true)
              .attr("x", self.width)
              .attr("y", 0)
              .attr("dy", self.rem*2.5)
              .attr("text-anchor", "end")
              .style("font-size", self.rem * 5);

          var year = g.selectAll(".year")
              .data(massagedData)
            .enter().append("g")
              .attr("class", "g")
              .attr("transform", function(d) {
                return "translate(" + x0(d.year) + ",0)";
              });

          year.selectAll(".bar")
              .data(function(d) {
                return d.data;
              })
            .enter().append("rect")
              .classed("bar", true)
              .attr("width", x1.rangeBand())
              .attr("x", function(d) {
                return x1( d[self.recordKey] );
              })
              .attr("y", function(d) {
                return y(d.value);
              })
              .attr("height", function(d) { return self.height - y(d.value); })
              .style("fill", function(d) { return self.colors(d[self.recordKey]); });

          ////////////////////////////////////////////////////////////////////////////////////////
          // drawing the legend
          ////////////////////////////////////////////////////////////////////////////////////////

          var legend = g.selectAll(".legend")
              .data(recordKeys.slice().reverse())
            .enter().append("g")
              .attr("class", "legend")
              .attr("transform", function(d, i) { return "translate(" + (self.width + self.rem * 5) + "," + (self.height - (i * self.rem * 2) - self.rem) + ")"; });

          legend.append("rect")
              .attr("width", self.rem)
              .attr("height", self.rem)
              .style("fill", self.colors);

          legend.append("text")
              .attr("x", self.rem * 1.8)
              .style("font-size", "1rem")
              .attr("dy", "1em")
              .text(function(d) { return d; });

          ////////////////////////////////////////////////////////////////////////////////////////
          // interval callback
          ////////////////////////////////////////////////////////////////////////////////////////

          this.start = (function () {
            var updateChart = function() {
              dataIndex++;

              if(dataIndex > data.length-1)
              {
                dataIndex = 0;
              }

              subtitle.text(data[dataIndex]["Country"]);
;

              massagedData = data[dataIndex]["By Year"];

              //////////////////////////////////////////////////////////
              // update the chart?
              //////////////////////////////////////////////////////////
              year
                .data(massagedData)
                .attr("transform", function(d) {
                  // console.log(d.year);
                  return "translate(" + x0(d.year) + ",0)";
                });

              year.selectAll("rect")
                .data(function(d) {
                  return d.data;
                })
                .transition()
                .attr("y", function(d) {
                  return y(d.value);
                })
                .attr("height", function(d) { return self.height - y(d.value); });
              //////////////////////////////////////////////////////////

              lastUpdate = Date.now();
            };
            updateChart();

            self.intervalId = setInterval(updateChart, 3000);
          }).bind(this);
        }
      });

    })();
  </script>
</polymer-element>