<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-gb-rotating" extends="q-chart" attributes="url yAxisLabel xAxisLabel recordKey">
  <template>
    <style>
      :host {
        display: block;
      }

      .axis {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-gb-rotating', {
        yAxisLabel:null,
        xAxisLabel:null,
        recordKey:null,
        start: function () {

        },
        stop: function () {
          clearInterval(this.intervalId);
        },
        render: function () {
          this.isRendered = true;
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
/*
what is this? we have datasets with lots of stuff, 3 levels of data
and that's just too much. we'll take each country and break it into recordKeys
and then years. and flip through countries showing each as a grouped barchart
*/
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
          var self = this;
          var data = self.data.data;

          var margin = {top: 50, right: 100, bottom: 30, left: 50};
          var width = this.clientWidth - margin.left - margin.right;
          var height = this.clientHeight - margin.top - margin.bottom;

          var x0 = d3.scale.ordinal()
              .rangeRoundBands([0, width], .1);

          var x1 = d3.scale.ordinal();

          var y = d3.scale.linear()
              .range([height, 0]);

          var color = this.colors;

          var xAxis = d3.svg.axis()
              .scale(x0)
              .orient("bottom");

          var yAxis = d3.svg.axis()
              .scale(y)
              .orient("left")
              .tickFormat(d3.format(".2s"));

          var svg = d3.select(this.$.chart)
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var dataIndex = 0;
          var years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"]

          ///////////////////////////////////////////////////////////////////////////////////////////
          // I'm doing this because a lot of the data isn't in a format that d3 wants, and I
          // don't feel like redoing all the JSON files
          ///////////////////////////////////////////////////////////////////////////////////////////
          var massagedData = [];
          var lastUpdate = Date.now();

          console.log(data[dataIndex]);
          massagedData = data[dataIndex]["By Year"];


          var recordKeys = [];
          for( var i = 0; i < massagedData[0].data.length; i++ )
          {
            recordKeys.push(massagedData[0].data[i][self.recordKey]);
          }

          ///////////////////////////////////////////////////////////////////////////////////////////
          //////////////////////////////////////////////////////////////////////////////////////////

          x0.domain(massagedData.map(function(d) {
            return d.year;
          }));

          x1.domain(recordKeys).rangeRoundBands([0, x0.rangeBand()]);

          y.domain([0, d3.max( _.flatten(_.flatten(_.flatten(data, "By Year"), "data"), "value") )]);

          ////////////////////////////////////////////////////////////////////////////////////////
          // drawing the chart
          ////////////////////////////////////////////////////////////////////////////////////////

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text(self.yAxisLabel);

          var year = svg.selectAll(".year")
              .data(massagedData)
            .enter().append("g")
              .attr("class", "g")
              .attr("transform", function(d) {
                return "translate(" + x0(d.year) + ",0)";

              });

          year.selectAll("rect")
              .data(function(d) {
                return d.data;
              })
            .enter().append("rect")
              .attr("width", x1.rangeBand())
              .attr("x", function(d) {
                return x1( d[self.recordKey] );
              })
              .attr("y", function(d) {
                return y(d.value);
              })
              .attr("height", function(d) { return height - y(d.value); })
              .style("fill", function(d) { return color(d[self.recordKey]); });

          ////////////////////////////////////////////////////////////////////////////////////////
          // drawing the legend
          ////////////////////////////////////////////////////////////////////////////////////////

          var legend = svg.selectAll(".legend")
              .data(recordKeys.slice())
            .enter().append("g")
              .attr("class", "legend")
              .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

          legend.append("rect")
              .attr("x", width + margin.right - 18)
              .attr("width", 18)
              .attr("height", 18)
              .style("fill", color);

          legend.append("text")
              .attr("x", width + margin.right - 24)
              .attr("y", 9)
              .attr("dy", ".35em")
              .style("text-anchor", "end")
              .text(function(d) {
                return d;
              });

          ////////////////////////////////////////////////////////////////////////////////////////
          // interval callback
          ////////////////////////////////////////////////////////////////////////////////////////

          this.start = (function () {
            self.intervalId = setInterval( function() {
              dataIndex++;
              if(dataIndex > data.length-1)
              {
                dataIndex = 0;
              }

              massagedData = data[dataIndex]["By Year"];

              //////////////////////////////////////////////////////////
              // update the chart?
              //////////////////////////////////////////////////////////
              year
                .data(massagedData);

              year.selectAll("rect")
                .data(function(d) {
                  return d.data; 
                })
                .transition()
                .attr("height", function(d) {
                  return y(d.value);
                })
                .attr("y", function(d) {
                  return height - y(d.value);
                });
              //////////////////////////////////////////////////////////

              lastUpdate = Date.now();
            }, 3000);
          }).bind(this);
        }
      });

    })();
  </script>
</polymer-element>