@font-face {
  font-family: "BentonSansF";
  src: url(BentonSansF-ExtraLight.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(BentonSansF-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(BentonSansF-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BentonSansF";
  src: url(BentonSansF-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(BentonSansF-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansF";
  src: url(BentonSansF-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(BentonSansComp-Light.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(BentonSansComp-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(BentonSansComp-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansExtraCondensed";
  src: url(BentonSansComp-Bold.otf);
  font-weight: 700;
  font-style: normal;
}