<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>
<body>

<div class="colmask">
	<div class="colleft">
		<div class="col1">
			<div id="data_block_1">
				<h1 id="data_block_1_title">DATA</h1>
			</div>
			<div id="data_block_2">
				<h1 id="data_block_2_title">MOAR DATA</h1>
			</div>
			
		</div>
		<div class="col2">
			<p> This is where the story goes. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		</div>
	</div>
</div>
</body>
</html>
