<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-bar" extends="q-chart" attributes="url label">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        margin-left: -8rem;
        position: relative;
      }

      .axis .domain {
        stroke: none;
      }

      .axis.y text {
        font-family: "Georgia", serif;
        fill: #888;
      }

      .axis.y .label {
        font-size: 1rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: bold;
      }

      .axis.y .tick text {
        text-anchor: end;
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 0.05em;
      }

      .axis.x text {
        font-family: "BentonSansExtraCondensed", "Helvetica", "Arial", sans-serif;
        font-size: 1.4rem;
        letter-spacing: .05em;
        font-weight: 500;
        fill: #333;
      }

      .axis.y .tick line {
        stroke-dasharray: 2,2;
        stroke: #ccc;
      }

      .axis.x .tick line {
        stroke: none;
      }

      .axis path,
      .axis line {
        fill: none;
        shape-rendering: crispEdges;
      }

      *[class*=data-] {
        mix-blend-mode: multiply;
      }
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-bar', {
        label:null,
        init: function () {
          var self = this;

          this.margin = {top: 3*this.rem, right: 20*this.rem, bottom: 2.5*this.rem, left: 8*this.rem};
          this.width = this.clientWidth - this.margin.left - this.margin.right;
          this.height = this.clientHeight - this.margin.top - this.margin.bottom;

          this.x = d3.scale.ordinal()
              .domain(_.map(self.data.data, function(d) { return d.year; }))
              .rangeRoundBands([0, self.width], .65, 0);

          var yExtent = d3.extent(self.data.data, function(d) { return d.value; });
          var yMin = (yExtent[0] - (yExtent[1] - yExtent[0])*self.yDomainPadding) > 0 ? (yExtent[0] - (yExtent[1] - yExtent[0])*self.yDomainPadding) : 0;
          var yMax = yExtent[1] + ((yExtent[1] - yExtent[0])*self.yDomainPadding);


          this.y = d3.scale.linear()
              .range([self.height, 0])
              .domain([yMin, yMax])
              .nice(4);

          this.xAxis = d3.svg.axis()
              .scale(self.x)
              .tickSize(0)
              .tickPadding(self.rem * 1.2)
              .orient("bottom");

          this.yAxis = d3.svg.axis()
              .scale(self.y)
              .ticks(6)
              .tickSize(self.width)
              .tickFormat(d3.format("s"))
              .orient("right");

        },
        initChart: function() {
          var self = this;

          this.g = d3.select(this.$.chart)
              .attr("width", this.width + this.margin.left + this.margin.right)
              .attr("height", this.height + this.margin.top + this.margin.bottom)
            .append("g")
              .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");

          //draw x axis
          var gx = this.g.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + this.height + ")")
              .call(self.xAxis);

          gx.append("line")
              .classed("bottom", true)
              .attr("x", 0)
              .attr("y", self.height)
              .attr("width", self.width);

          //draw y axis
          var gy = this.g.append("g")
              .attr("class", "y axis")
              .call(self.yAxis);

          //y axis label
          gy.append("text")
              .classed("label", true)
              .attr("x", -self.rem)
              .attr("y", self.height + self.margin.bottom)
              .attr("transform", "translate(0,-" + (self.rem * .2) + ")")
              .style("text-anchor", "end")
              .text(self.yAxisLabel);

          gy.select(".tick").selectAll("*")
              .attr("transform", "translate(0, -" + self.rem/10 + ")");

          gy.selectAll(".tick line")
              .style("stroke-width", self.rem/10);

          gy.selectAll(".tick").selectAll("text")
              .attr("x", -self.rem)
              .style("text-anchor", "end");

        },
        drawData: function() {
          var self = this;

          this.g.selectAll(".data-bar")
              .data(self.data.data)
            .enter().append("rect")
              .classed("data-bar", true)
              .attr("x", function(d) { return self.x(d.year); })
              .attr("width", self.x.rangeBand())
              .attr("y", function(d) { return self.height; })
              .attr("height", 0)
              .attr("fill", self.colors(0))
              .transition()
              .duration(500)
              .delay(function(d, i) { return i * 400; })
              .attr("height", function(d) { return self.height - self.y(d.value); })
              .attr("y", function(d) { return self.y(d.value); });
        },
        render: function () {
          var self = this;

          this.chart.selectAll("*")
              .remove();

          this.init();
          this.initChart();
          this.drawData();
        }
      });

    })();
  </script>
</polymer-element>