<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-grouped-bar" extends="q-chart" attributes="url xAxisLabel yAxisLabel recordKey">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        margin-left: -8rem;
        position: relative;
      }

      .axis .domain {
        stroke: none;
      }

      .axis.y text {
        font-family: "Georgia", serif;
        fill: #888;
      }

      .axis.y .label {
        font-size: 1.3rem;
      }

      .axis.y .tick text {
        text-anchor: end;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
      }

      .axis.x text {
        font-family: "BentonSansExtraCondensed", "Helvetica", "Arial", sans-serif;
        font-size: 1.4rem;
        letter-spacing: .05em;
        font-weight: 500;
        fill: #333;
      }

      .axis.y .tick line {
        stroke-dasharray: 2,2;
        stroke: #ccc;
      }

      .axis.x .tick line {
        stroke: none;
      }

      .axis path,
      .axis line {
        fill: none;
        shape-rendering: crispEdges;
      }

      .bar {
        mix-blend-mode: multiply;
      }

      .legend text {
        font-family: "BentonSansF", "Helvetica", "Arial", sans-serif;
        fill: #333;
        font-size: 1.2rem;
      }
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-grouped-bar', {
        yAxisLabel:null,
        xAxisLabel:null,
        recordKey:null,
        start: function () {
        },
        stop: function () {
        },
        cleanData: function() {
          var self = this;
          var data = this.data.data;

          this.massagedData = [];
          this.recordKeys = [];
          this.years = _.uniq(_.pluck(_.flatten(data, "By Year"), "year"));

          var tempDatum,
              tempKey,
              tempValue;

          _.each(this.years, function (year, i) {
            tempDatum = {
              year: year,
              recordKeys: []
            };

            _.each(data, function (d) {
              tempKey = d[self.recordKey];
              tempValue = _.find(d["By Year"], {year: year}).value;

              tempDatum[tempKey] = tempValue;

              tempDatum.recordKeys.push({
                name: tempKey,
                value: tempValue
              });

              if (i === 0) self.recordKeys.push(tempKey);
            });

            self.massagedData.push(tempDatum);
          });
        },
        /*cleanData: function() {
          var self = this;
          var data = this.data.data;

          // console.log(data);

          this.recordKeys = [];
          for( var i = 0; i < data.length; i++ ) {
            this.recordKeys.push(data[i][self.recordKey]);
          }
          this.years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"]

          // I'm doing this because a lot of the data isn't in a format that d3 wants, and I
          // don't feel like redoing all the JSON files
          ///////////////////////////////////////////////////////////////////////////////////////////
          this.massagedData = [];
          var firstStageMassaging = {};
          for( var i = 0; i < self.years.length; i++ )
          {
             firstStageMassaging[self.years[i]] = [];
          }
          // first step : years all together
          for( var i = 0; i < data.length; i++ )
          {
            var countryName = data[i][self.recordKey];

            for( var j = 0; j < data[i]["By Year"].length; j++ )
            {
              var year = data[i]["By Year"][j].year;
              var record = {};
              record[data[i][self.recordKey]] = data[i]["By Year"][j].value;
              firstStageMassaging[year].push(record);
            }
          }

          for( var prop in firstStageMassaging )
          {
            var finalRecord = { year:prop };
            for(var j = 0; j < firstStageMassaging[prop].length; j++ )
            {
              for(var prop2 in firstStageMassaging[prop][j])
              {
                finalRecord[prop2] = firstStageMassaging[prop][j][prop2];
              }
            }
            this.massagedData.push(finalRecord);
          }

          this.massagedData.forEach(function(d) {
            d.recordKeys = [];
            for( var prop in d ) {
              if(prop != "year" && prop != "recordKeys") {
                var p = {name:prop, value:d[prop]};
                d.recordKeys.push(p);
              }
            }
          });
        },*/
        init: function() {
          var self = this;

          self.margin = {top: 3*this.rem, right: 20*this.rem, bottom: 2.5*this.rem, left: 8*this.rem};
          self.width = self.clientWidth - self.margin.left - self.margin.right;
          self.height = self.clientHeight - self.margin.top - self.margin.bottom;

          self.x0 = d3.scale.ordinal()
              .domain(this.years)
              .rangeRoundBands([0, self.width], .25, 0);

          self.x1 = d3.scale.ordinal()
              .domain(self.recordKeys)
              .rangeRoundBands([0, self.x0.rangeBand()], .2, 0);

          self.y = d3.scale.linear()
              .domain([0, d3.max(self.massagedData, function(d) { return d3.max(d.recordKeys, function(d) { return d.value; }); }) * (1 + self.yDomainPadding)])
              .range([self.height, 0]);

          self.xAxis = d3.svg.axis()
              .scale(self.x0)
              .tickSize(0)
              .tickPadding(self.rem)
              .orient("bottom");

          self.yAxis = d3.svg.axis()
              .scale(self.y)
              .ticks(Math.round(self.height / self.rem / 5))
              .tickSize(self.width)
              .orient("right");

          self.colors.domain(self.recordKeys);
        },
        initChart: function() {
          var self = this;

          var g = d3.select(self.$.chart)
              .attr("width", self.width + self.margin.left + self.margin.right)
              .attr("height", self.height + self.margin.top + self.margin.bottom)
            .append("g")
              .attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

          //draw x axis
          g.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + this.height + ")")
              .call(self.xAxis);

          //draw y axis
          var gy = g.append("g")
              .attr("class", "y axis")
              .call(self.yAxis);

          gy.append("text")
              .classed("label", true)
              .attr("y", 0)
              .attr("x", 0)
              .text(self.yAxisLabel);

          gy.select(".tick").selectAll("*")
              .attr("transform", "translate(0, -" + self.rem/10 + ")");

          gy.selectAll(".tick line")
              .style("stroke-width", self.rem/10);

          gy.selectAll(".tick").selectAll("text")
              .attr("x", -self.rem)
              .style("text-anchor", "end");

          //draw legend
          var legend = g.selectAll(".legend")
              .data(self.recordKeys.slice().reverse())
            .enter().append("g")
              .classed("legend", true)
              .attr("transform", function(d, i) { return "translate(" + (self.width + self.rem * 5) + "," + (self.height - (i * self.rem * 2) - self.rem) + ")"; });

          legend.append("rect")
              .attr("width", self.rem)
              .attr("height", self.rem)
              .style("fill", self.colors);

          legend.append("text")
              .attr("x", self.rem * 1.8)
              .style("font-size", "1rem")
              .attr("dy", "1em")
              .text(function(d) { return d; });

          return g;
        },
        render: function () {
          // this.isRendered = true;
          this.chart.selectAll("*")
              .remove();

          var self = this;
          var data = self.data.data;

          this.cleanData();
          this.init();
          var g = this.initChart();

          var years = g.selectAll(".year")
              .data(this.massagedData)
            .enter().append("g")
              .classed("year", true)
              .attr("transform", function(d) {
                return "translate(" + self.x0(d.year) + ", 0)";
              });

          years.selectAll(".bar")
              .data(function(d) { return d.recordKeys; })
            .enter().append("rect")
              .classed("bar", true)
              .attr("width", self.x1.rangeBand())
              .attr("x", function(d) {
                return self.x1(d.name);
              })
              .attr("y", self.height)
              .attr("fill", function(d) { return self.colors(d.name); })
              .attr("height", 0)
              .transition()
              // .duration(function(d) { return d.value*50;})
              .duration(500)
              .delay(function(d, i, j) { return (j * self.recordKeys.length + i) * 75; })
              .attr("height", function(d) { return self.height - self.y(d.value); })
              .attr("y", function(d) { return self.y(d.value); });
        }
      });

    })();
  </script>
</polymer-element>