<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart-grouped-bar" extends="q-chart" attributes="url xAxisLabel yAxisLabel">
  <template>
    <style>
      :host {
        display: block;
      }
/*
      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      /*.x.axis path {
        display: none;
      }*/
    </style>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-grouped-bar', {
        yAxisLabel: null,
        xAxisLabel: null,
        start: function () {

        },
        stop: function () {
        },
        cleanData: function() {
          var self = this;
          var data = this.data.data;

          this.countries = [];
          for( var i = 0; i < data.length; i++ ) {
            this.countries.push(data[i].Country);
          }
          this.years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"]

          // I'm doing this because a lot of the data isn't in a format that d3 wants, and I
          // don't feel like redoing all the JSON files
          ///////////////////////////////////////////////////////////////////////////////////////////
          this.massagedData = [];
          var firstStageMassaging = {};
          for( var i = 0; i < self.years.length; i++ )
          {
             firstStageMassaging[self.years[i]] = [];
          }
          // first step : years all together
          for( var i = 0; i < data.length; i++ )
          {
            var countryName = data[i].Country;

            for( var j = 0; j < data[i]["By Year"].length; j++ )
            {
              var year = data[i]["By Year"][j].year;
              var record = {};
              record[data[i].Country] = data[i]["By Year"][j].value;
              firstStageMassaging[year].push(record);
            }
          }

          for( var prop in firstStageMassaging )
          {
            var finalRecord = { year:prop };
            for(var j = 0; j < firstStageMassaging[prop].length; j++ )
            {
              for(var prop2 in firstStageMassaging[prop][j])
              {
                finalRecord[prop2] = firstStageMassaging[prop][j][prop2];
              }
            }
            this.massagedData.push(finalRecord);
          }

          this.massagedData.forEach(function(d) {
            d.countries = [];
            for( var prop in d ) {
              if(prop != "year" && prop != "countries") {
                var p = {name:prop, value:d[prop]};
                d.countries.push(p);
              }
            }
          });
        },
        init: function() {
          var self = this;

          self.margin = {top: 20, right: 100, bottom: 50, left: 50};
          self.width = self.clientWidth - self.margin.left - self.margin.right;
          self.height = self.clientHeight - self.margin.top - self.margin.bottom;

          self.x0 = d3.scale.ordinal()
              .domain(_.map(self.massagedData, function(d) { return d.year;} ))
              .rangeRoundBands([0, self.width], .1);

          self.x1 = d3.scale.ordinal()
              .domain(this.countries)
              .rangeRoundBands([0, self.x0.rangeBand()]);

          self.y = d3.scale.linear()
              .range([self.height, 0]);

          self.color = d3.scale.ordinal()
              .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

          self.xAxis = d3.svg.axis()
              .scale(self.x0)
              .orient("bottom")
              .ticks(d3.time.year, 1);

          self.yAxis = d3.svg.axis()
              .scale(self.y)
              .orient("left")
              .tickFormat(d3.format(".2s"));

          self.y.domain([0, d3.max(this.massagedData, function(d) {
            var max = 0;
            for( var prop in d ) {
              if(prop != "year") {
                if( d[prop] > max ) { max = d[prop]; }
              }
            }
            return max;
          })]);
        },
        initChart: function() {
          var self = this;

          var g = d3.select(self.$.chart)
              .attr("width", self.width + self.margin.left + self.margin.right)
              .attr("height", self.height + self.margin.top + self.margin.bottom)
            .append("g")
              .attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

          g.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + this.height + ")")
              .call(self.xAxis);

          g.append("g")
              .attr("class", "y axis")
              .call(self.yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text(self.yAxisLabel);

          return g;
        },
        render: function () {
          var self = this;
          var data = self.data.data;

          this.cleanData();
          this.init();
          var g = this.initChart();

          var years = g.selectAll(".year")
              .data(this.massagedData)
            .enter().append("g")
              .classed("year", true)
              .attr("transform", function(d) {
                return "translate(" + self.x0(d.year) + ", 0)";
              });

          years.selectAll("rect")
              .data(function(d) {
                return d.countries;
              })
            .enter().append("rect")
              .attr("width", self.x1.rangeBand())
              .attr("x", function(d) {
                return self.x1(d.name);
              })
              .attr("y", function(d) {
                return self.y(d.value);
              })
              .style("fill", function(d) { return self.color(d.name); })
              .attr("height", 0)
              .transition()
              .duration(500)
              .delay(function(d, i, j) { return (j * 5 + i) * 500; })
              .attr("height", function(d) { return self.height - self.y(d.value); })

          ////////////////////////////////////////////////////////////////////////////////////////
          // drawing the legend
          ////////////////////////////////////////////////////////////////////////////////////////
          // var legend = g.selectAll(".legend")
          //     .data(self.countries.slice().reverse())
          //   .enter().append("g")
          //     .attr("class", "legend")
          //     .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

          // legend.append("rect")
          //     .attr("x", self.width - 18)
          //     .attr("width", 18)
          //     .attr("height", 18)
          //     .style("fill", self.color);

          // legend.append("text")
          //     .attr("x", self.width - 24)
          //     .attr("y", 9)
          //     .attr("dy", ".35em")
          //     .style("text-anchor", "end")
          //     .text(function(d) {
          //       return d;
          //     });
        }
      });

    })();
  </script>
</polymer-element>