<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>

<polymer-element name="q-chart-globe" extends="q-chart" attributes="url dataTopLevel">
  <template>
    <style>
      :host {
        display: block;
      } 

      .foreground {
        fill: #d8ffff;
        stroke: #333;
        stroke-width: 1.5px;
      }
       
      .land {
        fill: #d7c7ad;
        stroke: #766951;
      }

      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .x.axis path {
        display: none;
      }

      #legend {
          float:right;
      }

      li.key {
          border-top-width: 15px;
          border-top-style: solid;
          font-size: .75em;
          width: 10%;
          padding-left: 0;
          padding-right: 0;
      }
      .legend {
        width:20px;
        height:20px;
        padding-top: 4px;
        padding-left: 6px;
        color:#fff;
      }
      .neg3 {
        background-color: #f00;
      }
      .neg2 {
        background-color: #b20;
      }
      .neg1 {
        background-color: #950;
      }
      .zero {
        background-color: #860;
      }
      .pos1 {
        background-color: #590;
      }
      .pos2 {
        background-color: #3c0;
      }
      .pos3 {
        background-color: #0f0;
      }
      h3 { padding-bottom: 0px;}
      .list-inline > li {
        display: table-cell;
      }

      #legend > h4 {
        margin-bottom: 0;
      }

      #legend > small {
        margin-bottom: 4;
      }

      #legend > ul {
        padding: 0;
      }


      .stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
 
.fill {
  fill: #fff;
}
 
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
 
.land {
  fill: #222;
}
 
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
 

    </style>
    <div id="legend">
      <h4>For year <span id="currentYearTitle">2014</span></h4>
      <small>In 100,000 Hectacres</small>
      <ul class="list-inline">
          <li class="legend neg3">- 3</li>
          <li class="legend neg2">- 2</li>
          <li class="legend neg1">- 1</li>
          <li class="legend zero">0</li>
          <li class="legend pos1">1</li>
          <li class="legend pos2">2</li>
          <li class="legend pos3">3</li>
      </ul>
    </div>
    <svg id="chart"></svg>
  </template>
  <script>
    (function () {

      Polymer('q-chart-globe', {
        url: null,
        data: null,
        dataWorld: null,
        dataTopLevel: null,
        isRendered: false,
        stopTimer: false,
        intervalId: null,

        ready: function () {
          this.onLoad = this.load.bind(this);
          this.onLoadWorld = this.loadWorld.bind(this);
        },
        domReady: function () {
          d3.json("/data/world-110m.json", this.onLoadWorld);
        },
        urlChanged: function (oldVal, newVal) {
          // this.async(this.draw);
          d3.json(newVal, this.onLoad);        
        },
        load: function (err, res) {
          this.data = res.data;
        },
        loadWorld: function (err, res) {
          this.dataWorld = res;
        },
        start: function () {
          // HACK: overriden in render method
        },
        stop: function () {
          this.stopTimer = true;
          console.log("this.intervalId", this.intervalId);
          clearInterval(this.intervalId);
        },
        render: function () {
          var self = this;
          var diameter = self.clientWidth / 2,
            radius = diameter/2,
            velocity = .04,
            then = Date.now();

          var years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"]

          var lastYearUpdate = Date.now();
          var yearIndex = 0;
          
          var width = 960,
              height = 500;

          console.log(d3.geo);
           
          var projection = d3.geo.equirectangular()
              .scale(150)
              .translate([width / 2, height / 2])
              .precision(.1);
           
          var path = d3.geo.path()
              .projection(projection);
           
          var graticule = d3.geo.graticule();
           
          var svg = d3.select(self.$.chart).append("svg")
              .attr("width", width)
              .attr("height", height);
           
          svg.append("defs").append("path")
              .datum({type: "Sphere"})
              .attr("id", "sphere")
              .attr("d", path);
           
          svg.append("use")
              .attr("class", "stroke")
              .attr("xlink:href", "#sphere");
           
          svg.append("use")
              .attr("class", "fill")
              .attr("xlink:href", "#sphere");
           
          // svg.append("path")
          //     .datum(graticule)
          //     .attr("class", "graticule")
          //     .attr("d", path);
           
          

          //d3.json("/mbostock/raw/4090846/world-50m.json", function(error, world) {
            svg.insert("path", ".graticule")
                .datum(topojson.feature(self.dataWorld, self.dataWorld.objects.land))
                .attr("class", "land")
                .attr("d", path);
           
            // svg.insert("path", ".graticule")
            //     .datum(topojson.mesh(self.dataWorld, self.dataWorld.objects.countries, function(a, b) { return a !== b; }))
            //     .attr("class", "boundary")
            //     .attr("d", path);
          //});
           
          var currentYear = "2015";
          self.$.currentYearTitle.innerHTML = currentYear;

          var legendColor = d3.scale.linear().domain([-4, 0, 3]).range(["red", "green"]);
          var legendValues = [-3, -2, -1, 0, 1, 2, 3];

          function getCurrentColor( name )
          {
              for( var i = 0; i < self.data.length; i++ ) {
                if(self.data[i][self.dataTopLevel] == name) {
                    for( var j = 0; j < self.data[i]["By Year"].length; j++) {
                        if(self.data[i]["By Year"][j]["year"] == currentYear) {
                          return legendColor(self.data[i]["By Year"][j]["value"]);
                        }
                    }
                }
              }
              return d3.hsl(0, 0, 0).toString();
          }

          var countries = topojson.feature(self.dataWorld, self.dataWorld.objects.countries);

          var asia = {type: "FeatureCollection", name: "Asia", color: getCurrentColor("Asia"), id:"Asia", features: countries.features.filter(function(d) { return d.properties.continent=="Asia"; })};
          var africa = {type: "FeatureCollection", name: "Africa", color: getCurrentColor("Africa"), id:"Africa", features: countries.features.filter(function(d) { return d.properties.continent=="Africa"; })};
          var europe = {type: "FeatureCollection", name: "Europe", color: getCurrentColor("Europe"), id:"Europe", features: countries.features.filter(function(d) { return d.properties.continent=="Europe"; })};
          var na = {type: "FeatureCollection", name: "North America", color: getCurrentColor("North America"), id:"NA", features: countries.features.filter(function(d) { return d.properties.continent=="North America"; })};
          var sa = {type: "FeatureCollection", name: "South America", color: getCurrentColor("South America"), id:"SA", features: countries.features.filter(function(d) { return d.properties.continent=="South America"; })};

          var oceania = {type: "FeatureCollection", name: "Oceania", color: getCurrentColor("Oceania"), id:"Oceania", features: countries.features.filter(function(d) { return d.properties.continent=="Oceania"; })};

          var continents = [asia,africa,europe,na,sa,oceania];
          var continent = svg.selectAll(".continent").data(continents);
          var globe = {type: "Sphere"};

          continent.enter().insert("path")
            .attr("class", "continent")
            .attr("d", path)
            .attr("id", function(d,i) { return d.id; })
            .style("fill", function(d,i) { return d.color; });
         
          // isRendered
          this.isRendered = true;
          // HACK to keep context of local vars
          this.start = (function () {
            self.intervalId = setInterval(function() {
              var angle = velocity * (Date.now() - then);
              //projection.rotate([angle,0,0]);
              //svg.selectAll("path")
              //  .attr("d", path.projection(projection));

              if(Date.now() - lastYearUpdate > 1000)
              {
                svg.select('#Africa').style({
                  fill: getCurrentColor("Africa")
                });

                svg.select('#Asia').style({
                  fill: getCurrentColor("Asia")
                });

                svg.select('#Europe').style({
                  fill: getCurrentColor("Asia")
                });

                svg.select('#NA').style({
                  fill: getCurrentColor("North America")
                });

                svg.select('#SA').style({
                  fill: getCurrentColor("South America")
                });

                currentYear = years[yearIndex];

                self.$.currentYearTitle.innerHTML = currentYear;

                yearIndex++;
                if(yearIndex > 10)
                {
                  yearIndex = 0;
                }

                lastYearUpdate = Date.now();
              }
            }, 7);

          }).bind(this);
        }
      })
    })();
  </script>
</polymer-element>