<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart" attributes="url">
  <script>
    (function () {

      // blue, yellow, green, orange, black
      var defaultColors = ['#2c88dc', '#fdd81b', '#3eb307', '#ef6d09', '#111'];
      // black, black, black, black, white
      var defaultFontColors = ['#000', '#000', '#000', '#000', '#fff'];

      var colorFn = d3.scale.ordinal()
        .range(defaultColors);
      var fontColorsFn = d3.scale.ordinal()
        .range(defaultFontColors);

      var years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"];

      Polymer('q-chart', {
        url: null,
        data: null,
        chart: null,
        isRendered: false,
        colors: colorFn,
        fontColors: fontColorsFn,
        years: years,
        index: 0,
        ready: function () {
          this.onLoad = (function (err, res) {
            if (err) console.error(err, this);
            this.data = res;
            this.asyncFire('load', res);
          }).bind(this);
        },
        domReady: function () {
          this.draw();
        },
        urlChanged: function (oldVal, newVal) {
          d3.json(newVal, this.onLoad);
        },
        draw: function () {
          this.chart = d3.select(this.$.chart)
            .attr("class", "chart")
            .attr("width", this.clientWidth)
            .attr("height", this.clientHeight);
        },
        start: function () {
          console.log('do animation here in sub-class');
        },
        stop: function () {
          console.log('stop animation here in sub-class');
        },
        render: function () {
          console.log('this method should be overriden in the sub-class');
        }
      });

    })();
  </script>
</polymer-element>