<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/d3/d3.min.js"></script>

<polymer-element name="q-chart" attributes="url theme yTickFormat yAxisLabel">
  <script>
    (function () {
      var themeColors = {
        blue: ["#65BAF1", "#C2C8CC", "#6B9AF2", "#5CEFEA", "#FFD262", "#FF9562"],
        green: ["#52E388", "#C2CCC4", "#4FD9C6", "#8DF258", "#FFC488", "#FF8C8C"],
        yellow: ["#F9CA3E", "#D1CFC2", "#F9E83E", "#FFB553", "#79ACF3", "#95DFE6"],
        orange: ["#FABA71", "#CCC5BE", "#FAD471", "#FA8D71", "#7295E6", "#64E5BE"]
      };

      var years = [ "2015", "2017", "2019", "2021", "2023", "2025", "2027", "2029", "2031", "2033", "2035"];

      Polymer('q-chart', {
        url: null,
        data: null,
        chart: null,
        isRendered: false,
        colors: null,
        theme: null,
        years: years,
        index: 0,
        yDomainPadding: .1,
        ready: function () {
          this.rem = parseInt($("body").css("font-size"));
          this.theme = this.theme || "blue";
          this.colors = d3.scale.ordinal()
              .range(themeColors[this.theme]);

          this.onLoad = (function (err, res) {
            if (err) console.error(err, this);
            this.data = res;
            this.asyncFire('load', res);
          }).bind(this);
        },
        domReady: function () {
          this.draw();
        },
        urlChanged: function (oldVal, newVal) {
          d3.json(newVal, this.onLoad);
        },
        draw: function () {
          this.chart = d3.select(this.$.chart)
            .attr("class", "chart")
            .attr("width", this.clientWidth)
            .attr("height", this.clientHeight);
        },
        start: function () {
          // console.log('do animation here in sub-class');
        },
        stop: function () {
          // console.log('stop animation here in sub-class');
        },
        render: function () {
          // console.log('this method should be overriden in the sub-class');
        }
      });

    })();
  </script>
</polymer-element>